@page
@model ProfileModel
@{
    ViewData["Title"] = "Edit your Profile";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to edit your user profile.</p>

<form method="post">
    <input asp-for="SiteUser.UserName" />
    <input type="submit" value="Save" />
</form>